<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://kit.fontawesome.com/1b792d3ec8.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Joti+One&family=Inconsolata:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="css/profile.css">
    <link rel="stylesheet" href="css/chatting.css">
</head>
<body>

    <div class="mainContainer">
        <div class="navbar2">
            <a href="/">
                <i class="fas fa-home"></i> Home
            </a>
            <div class="dark-mode-toggle">
                <label class="switch">
                    <input type="checkbox" id="darkModeToggle">
                    <span class="slider"></span>
                </label>
            </div>
        </div>
    
        <div class="profile-heading">
            Profile Page
        </div>
    
        <div class="profile-container">
            <div class="profile-content">
    
                <div class="profile-info">
                    <h2>Profile Information</h2>
    
                    <div class="info-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" value="<%- username %>" name="username" placeholder="Enter Username">
    <br>
                        <label for="name">Name</label>
                        <input type="text" id="name" name="name" value="<%- name %>" placeholder="Enter Full Name">
    <br>
                        <label for="email">Email Address</label>
                        <input type="email" id="email" name="email" value="<%- email %>"  placeholder="Enter Email Address">
                    </div>
    <br>
                    <div class="info-group">
                        <label for="phone">Phone Number</label>
                        <input type="tel" id="phone" name="phone" value="<%- mobile %>"  placeholder="Enter Phone Number">
    <br>
                        <label for="bdGroup">Blood Group</label>
                        <input type="text" id="bdGroup" name="bdGroup" value="<%- bloodgroup %>" placeholder="Enter Address">
                    </div>
                </div>
            </div>
        </div>
    
    </div>

    <%- include("components/chatFeature") %>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
          const toggle = document.getElementById("darkModeToggle");
          const currentTheme = localStorage.getItem("theme");
      
          if (currentTheme === "dark") {
              document.documentElement.setAttribute("data-theme", "dark");
              toggle.checked = true;
          }
      
          toggle.addEventListener("change", () => {
              if (toggle.checked) {
                  document.documentElement.setAttribute("data-theme", "dark");
                  localStorage.setItem("theme", "dark");
              } else {
                  document.documentElement.setAttribute("data-theme", "light");
                  localStorage.setItem("theme", "light");
              }
          });
      });
      
      </script>
 
</body>
</html>